* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

body {
  background-color: #171717; }

header {
  position: sticky;
  top: 0px;
  z-index: 1; }
  header .nav__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #171717; }
    header .nav__menu img {
      height: 40px; }
    header .nav__menu ul li {
      display: inline-block;
      width: 175px;
      color: #fafaec;
      flex-basis: auto;
      transition: 0.5s; }
      header .nav__menu ul li:hover {
        background: #f6c91e;
        color: #171717;
        font-weight: bold;
        border-radius: 50px 0px 50px 0px; }

footer {
  background-color: #747474; }

.footer__redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  padding: 5px; }

.footer__ul li {
  display: inline-block;
  width: 140px;
  color: #d0d0d0;
  flex-basis: auto;
  transition: 0.2s; }

.footer__ul a img {
  height: 20px;
  width: 20px;
  margin-left: 30px;
  margin-bottom: 5px; }

.footer__ul a:hover {
  background: #d0d0d0;
  font-weight: bold;
  border-radius: 40px 10px 10px 40px; }
  .footer__ul a:hover li {
    color: #171717; }

.padre__index {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-gap: 15px; }
  .padre__index .principal__texto {
    margin: 50px 10px 50px 150px;
    text-align: right; }
    .padre__index .principal__texto .artista__nombre {
      margin-top: 0px;
      margin-bottom: 60px;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 75px;
      font-weight: bold;
      animation-duration: 1.5s;
      color: #f6c91e;
      text-shadow: 0px 5px 10px #d0d0d0; }
    .padre__index .principal__texto .artista__intro {
      font-size: 20px;
      font-family: 'PT Sans Caption', sans-serif;
      animation-duration: 2s;
      color: #f6c91e; }
    .padre__index .principal__texto .artista__fecha {
      margin-top: 120px;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 50px;
      font-weight: bold;
      animation-duration: 2.5s;
      color: #fafaec;
      text-shadow: 2px 2px 10px #f6c91e; }
  .padre__index .principal__imagen {
    margin: 50px 150px 150px 0px; }
    .padre__index .principal__imagen img {
      border: 4px solid #fafaec;
      border-radius: 8px;
      width: 100%;
      height: auto;
      box-shadow: 10px 15px 20px #f6cb1e3b; }

/* @import "./pages/upcoming.scss"; */
.grid__eventosAnteriores {
  display: grid;
  grid-template-areas: "vid vid";
  grid-gap: 5px; }
  .grid__eventosAnteriores .cont__eventosPasados {
    grid-area: vid;
    display: contents;
    text-align: center; }
    .grid__eventosAnteriores .cont__eventosPasados .evento {
      border-top: 2px solid #747474;
      border-bottom: 2px solid #d0d0d0;
      margin: 20px 20px; }
      .grid__eventosAnteriores .cont__eventosPasados .evento .textoEvento {
        color: #f6c91e;
        font-size: 38px;
        font-family: 'PT Sans Caption', sans-serif; }
        .grid__eventosAnteriores .cont__eventosPasados .evento .textoEvento p {
          color: #d0d0d0;
          font-size: 16px;
          font-family: 'Josefin Sans', sans-serif; }
      .grid__eventosAnteriores .cont__eventosPasados .evento .videoEvento {
        width: auto; }
        .grid__eventosAnteriores .cont__eventosPasados .evento .videoEvento iframe {
          border-radius: 10px;
          height: 400px;
          width: 100%; }

.contenedor {
  display: grid;
  grid-template-areas: "titulo map" "form   map";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 8fr;
  gap: 50px;
  margin: 50px 75px; }
  .contenedor .contacto__Titulo {
    grid-area: titulo;
    color: #f6c91e;
    font-size: 38px;
    font-family: 'PT Sans Caption', sans-serif;
    padding-left: 100px; }
  .contenedor .form__contacto {
    grid-area: form; }
    .contenedor .form__contacto label {
      color: #d0d0d0;
      font-size: 16px;
      font-family: 'Josefin Sans', sans-serif;
      color: #fafaec; }
    .contenedor .form__contacto textarea {
      height: 180px; }
    .contenedor .form__contacto .botonReset, .contenedor .form__contacto .botonEnviar {
      border: none;
      padding: 15px 30px;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      background-color: #747474; }
    .contenedor .form__contacto .botonEnviar {
      background-color: #f6c91e; }
  .contenedor .mapsGoogle {
    grid-area: map;
    display: flex;
    justify-content: center;
    margin-bottom: 50px; }

.sobreNosotros {
  margin: 50px;
  border-bottom: solid 2px #f6c91e; }
  .sobreNosotros .sn__titulo {
    color: #f6c91e;
    font-size: 38px;
    font-family: 'PT Sans Caption', sans-serif;
    margin: 50px 800px 50px 100px; }
  .sobreNosotros .sn__parrafo {
    color: #d0d0d0;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 50px; }
  .sobreNosotros .sn_img {
    display: flex;
    justify-content: center;
    margin-bottom: 100px; }

.lineup__titulo {
  color: #f6c91e;
  font-size: 38px;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 50px 0px;
  text-align: center; }

.lineup__contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  justify-items: center;
  margin: 50px 100px; }

.artistaA, .artistaB, .artistaC, .artistaD {
  display: flex;
  justify-content: center;
  border-top: 2px solid #f6c91e;
  border-bottom: 2px solid #f6c91e;
  width: 60%;
  padding: 15px; }

.lineup__carta {
  position: relative;
  width: 300px;
  height: 400px;
  background: #747474;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 5px 5px 10px rgba(208, 208, 208, 0.25);
  transition: 1s; }
  .lineup__carta:hover {
    transform: translateX(50%); }
    .lineup__carta:hover .imgBox {
      transform: rotateY(-180deg); }
  .lineup__carta .imgBox {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background: #000;
    transition: 1s;
    box-shadow: 5px 5px 10px rgba(208, 208, 208, 0.25); }
    .lineup__carta .imgBox img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform-style: preserve-3d;
      backface-visibility: hidden; }
      .lineup__carta .imgBox img:nth-child(2) {
        transform: rotateY(180deg); }
  .lineup__carta .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .lineup__carta .details .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .lineup__carta .details .content h2 {
        color: #f6c91e;
        font-size: 38px;
        font-family: 'PT Sans Caption', sans-serif;
        text-align: center;
        font-weight: 700;
        line-height: 1em; }
        .lineup__carta .details .content h2 span {
          color: #171717;
          font-size: 0.5em; }
      .lineup__carta .details .content .social-icons {
        position: relative;
        display: flex;
        margin-top: 10px; }
        .lineup__carta .details .content .social-icons a {
          display: inline-block;
          width: 35px;
          height: 35px;
          background: #747474;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          margin: 5px;
          font-size: 18px;
          transition: 0.5s;
          border-radius: 25%; }
          .lineup__carta .details .content .social-icons a:hover {
            background-color: #f6c91e; }

/* Media Queries para Tablet */
@media screen and (max-width: 768px) {
  /* Pagina Principal (Index.html) */
  header {
    position: relative; }
  .nav__menu ul {
    align-items: center; }
    .nav__menu ul li {
      display: flex;
      flex-direction: column;
      width: 100%; }
  .padre__index {
    display: block; }
    .padre__index .principal__texto {
      margin-right: 50px; }
      .padre__index .principal__texto .artista__nombre {
        font-size: 55px; }
      .padre__index .principal__texto .artista__intro {
        font-size: 20px; }
      .padre__index .principal__texto .artista__fecha {
        font-size: 45px; }
    .padre__index .principal__imagen {
      margin-left: 50px;
      margin-right: 50px; }
  /* Pagina Line UP (lineUp.html) */
  .lineup__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .artistaA, .artistaB, .artistaC, .artistaD, .artistaB, .artistaC, .artistaD {
    width: 100%; }
  /* Pagina Eventos Anteriores (lookingBack.html) */
  .grid__eventosAnteriores {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .grid__eventosAnteriores .evento {
      width: 90%; }
  /* Pagina Sobre Nosotros (about.html) */
  .sobreNosotros {
    margin: 5px 15px; }
    .sobreNosotros .sn__titulo {
      margin: 30px 100px 30px 100px;
      font-size: 28px; }
    .sobreNosotros .sn_img {
      margin-bottom: 50px; }
      .sobreNosotros .sn_img img {
        width: 90%;
        height: auto; }
  /* Pagina Contacto (contact.html) */
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    .contenedor .contacto__Titulo {
      padding-left: 10px; }
    .contenedor .mapsGoogle {
      width: auto;
      height: 400px; } }

/* Media Queries para Movil */
@media screen and (max-width: 576px) {
  /* Menu de Navegacion */
  header {
    position: relative; }
  .nav__menu {
    flex-direction: column; }
    .nav__menu ul {
      display: flex;
      justify-content: center;
      width: 100%; }
  /* Footer */
  .footer__redes {
    font-size: 12px; }
    .footer__redes .footer__ul {
      display: flex;
      justify-content: center;
      align-items: center; }
  /* Pagina Principal (Index.html) */
  .padre__index {
    display: flex;
    flex-wrap: wrap; }
    .padre__index .principal__texto {
      display: flex;
      flex-direction: column;
      margin: 10px 5px 20px 10px;
      text-align: center;
      font-size: 18px; }
    .padre__index .principal__imagen {
      margin: 10px 10px; }
  /* Pagina Line Up (lineUp.html) */
  .lineup__contenedor {
    margin: 5px 10px; }
  .artistaA, .artistaB, .artistaC, .artistaD, .artistaB, .artistaC, .artistaD {
    width: 100%; }
  .lineup__carta:hover {
    transform: translateX(0%); }
    .lineup__carta:hover .imgBox {
      transform: rotateY(-90deg); }
  /* Pagina Eventos Anteriores (lookingBack.html) */
  /* Pagina Sobre Nosotros (about.html) */
  .sobreNosotros {
    margin: 0px 0px; }
    .sobreNosotros .sn__titulo {
      margin: 25px 0px 0px 0px;
      text-align: center; }
  /* Pagina Contacto (contacto.html) */
  .contenedor {
    margin: 15px; }
    .contenedor .contacto__Titulo {
      text-align: center;
      padding-left: 0; } }
