@import "./abstracts/variables";
@import "./base/reset";
@import "./mixins/mixins";

@import "./layouts/body";
@import "./layouts/header";
@import "./layouts/footer";

@import "./pages/index";
@import "./pages/lookingBack";
@import "./pages/contact";
@import "./pages/about";
@import "./pages/lineUp";


    /* Media Queries para Tablet */
@media screen and (max-width: 768px) {
    
    /* Pagina Principal (Index.html) */
    header{
        position: relative;
        .nav__menu{
            ul{
                align-items: center;        
                li{
                    display:flex;
                    flex-direction: column;
                    width: 100%;
                }
            }
        }
        .navbar-nav{
            align-items: center;
        }
    }
    .padre__index{
        display: block;
        .principal__texto{
            margin-right: 50px;
            .artista__nombre{
                font-size: 55px;
            }
            .artista__intro{
                font-size: 20px;
            }
            .artista__fecha{
                font-size: 45px;
            }
        }
        .principal__imagen{
            margin-left: 50px;
            margin-right: 50px;
        }
    }

    /* Pagina Line UP (lineUp.html) */
    .lineup__titulo{
        font-size: 28px;
    }
    .lineup__contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .artistaA, .artistaB, .artistaC, .artistaD{
        width: 100%;
    }

    /* Pagina Eventos Anteriores (lookingBack.html) */
    .grid__eventosAnteriores{
        display: flex;
        flex-direction: column;
        align-items: center;
        .eventos__titulo{
            font-size: 28px;
            margin: 30px 0px;
        }
        .evento{
            width: 90%;
        }
    }
    .cont__carousel .carousel__titulo{
        font-size: 28px;
    }

    /* Pagina Sobre Nosotros (about.html) */
    .sobreNosotros{
        margin: 5px 15px;
        .sn__titulo{
            margin: 30px 100px 30px 100px;
            font-size: 28px;
        }
        .sn_img{
            margin-bottom: 50px;
            img{
            width: 90%;
            height: auto;
            }
        }
    }

    /* Pagina Contacto (contact.html) */
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        .contacto__Titulo{
            padding-left: 10px;
        }
        .mapsGoogle{
            width: auto;
            height: 400px;
        }
    }
}
    /* Media Queries para Movil */
@media screen and (max-width: 576px) {
    /* Menu de Navegacion */
    .nav__lista{
        ul{
            li{
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }
    }

    /* Footer */
    .footer__redes{
        font-size: 12px;
        .footer__ul{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    /* Pagina Principal (Index.html) */
    .padre__index{
        display: flex;
        flex-wrap: wrap;
        .principal__texto{
            display: flex;
            flex-direction: column;
            margin: 10px 5px 20px 10px;
            text-align:center;
            font-size: 18px;
        }
        .principal__imagen{
            margin: 10px 10px;
        }
    }

    /* Pagina Line Up (lineUp.html) */
    .lineup__contenedor{
        margin: 5px 10px;   
    }
    .artistaA, .artistaB, .artistaC, .artistaD{
        width: 100%;
    }
    .lineup__carta{
        &:hover{
            transform: translateX(0%);
            .imgBox{
                transform: rotateY(-90deg);
            }
        }
    }

    /* Pagina Sobre Nosotros (about.html) */
    .sobreNosotros{
        margin: 0px 0px;
        .sn__titulo{
            margin: 25px 0px 0px 0px;
            text-align: center;
        }
    }

    /* Pagina Contacto (contacto.html) */
    .contenedor{
        margin: 15px;
        .contacto__Titulo{
            text-align: center;
            padding-left: 0;
        }
    }    
}