.sobreNosotros{
    margin: 50px;
    border-bottom: solid 2px map-get($coloresWeb, color3);
    .sn__titulo{
        @include textoTit;
        margin: 50px 800px 50px 100px;
    }
    .sn__parrafo{
        @include textoDef;
        margin: 50px;    
    }
    .sn_img{
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
}



