.grid__eventosAnteriores{
    display: grid;
    grid-template-areas:"title title"
                        "video video";
    grid-gap: 5px;
    .eventos__titulo{
        @include textoTit;
        grid-area: title;
        display: flex;
        margin: 50px 100px 20px 100px;
    }
    .cont__eventosPasados{
        grid-area: video;
        display: contents;
        text-align: center;
        .evento{
            border-top: 2px solid map-get($coloresWeb, color4);
            border-bottom: 2px solid map-get($coloresWeb, color2);
            margin: 20px 20px;
            .textoEvento{
                @include textoTit;
                p{
                    @include textoDef;
                }
            }
            .videoEvento{
                width: auto;
                iframe{    
                    border-radius: 10px;
                    height: 400px;
                    width: 100%;
                }
            }
        }
    }
}
.cont__carousel{
    padding-bottom: 50px;
    .carousel__titulo{
        @include textoTit;
        margin: 30px 0px;
        text-align: center;
    }
}
